html {
  box-sizing: border-box; }

*, *::after, *::before {
  box-sizing: inherit; }

body {
  margin-top: 0;
  background-image: url("../images/bg.jpg");
  background-size: auto;
  background-repeat: no-repeat; }

.subscribe {
  float: left;
  display: block;
  margin-right: 2.35765%;
  width: 48.82117%;
  margin-left: 51.17883%;
  height: 50px; }
  .subscribe:last-child {
    margin-right: 0; }
  .subscribe h1 {
    color: white;
    font-size: 1em;
    padding-top: 8px;
    font-weight: 100;
    font-family: 'Roboto', sans-serif; }

.wrapper {
  max-width: 1020px;
  margin-left: auto;
  margin-right: auto; }
  .wrapper::after {
    clear: both;
    content: "";
    display: table; }

.outerHead {
  float: left;
  display: block;
  margin-right: 2.35765%;
  width: 23.23176%;
  margin-left: 17.05961%;
  margin: 0; }
  .outerHead:last-child {
    margin-right: 0; }

.face, .RSS, .twitter, .youtube {
  color: white;
  font-size: 3em;
  float: left;
  display: block;
  margin-right: 2.35765%;
  width: 23.23176%;
  padding: 2px 2px 0 8px;
  background-clip: padding-box;
  border-bottom: 5px solid rgba(192, 192, 192, 0.5); }
  .face:last-child, .RSS:last-child, .twitter:last-child, .youtube:last-child {
    margin-right: 0; }

.face {
  background-color: #445897; }

.RSS {
  background-color: #CD9131; }

.twitter {
  background-color: #6A8DC7; }

.youtube {
  background-color: #B2382D; }

.subLinks {
  float: left;
  display: block;
  margin-right: 2.35765%;
  width: 48.82117%;
  margin-left: 17.05961%; }
  .subLinks:last-child {
    margin-right: 0; }

header {
  float: left;
  display: block;
  margin-right: 2.35765%;
  width: 100%; }
  header:last-child {
    margin-right: 0; }

main {
  float: left;
  display: block;
  margin-right: 2.35765%;
  width: 100%; }
  main:last-child {
    margin-right: 0; }

.headinfo {
  float: left;
  display: block;
  margin-right: 2.35765%;
  width: 100%;
  margin-top: 30px; }
  .headinfo:last-child {
    margin-right: 0; }
  .headinfo div {
    float: left;
    display: block;
    margin-right: 2.35765%;
    width: 23.23176%;
    background-color: #B4292E;
    height: 46px;
    text-align: center;
    color: white;
    padding-top: 12px;
    font-family: 'Lato', sans-serif;
    background-clip: padding-box;
    border-bottom: 5px solid rgba(192, 192, 192, 0.5); }
    .headinfo div:last-child {
      margin-right: 0; }
    .headinfo div:nth-child(4n) {
      margin-right: 0; }
    .headinfo div:nth-child(4n+1) {
      clear: left; }

.topImage {
  float: left;
  display: block;
  margin-right: 2.35765%;
  width: 100%;
  height: 360px;
  margin-top: 20px;
  border: 5px white solid;
  margin-bottom: 20px; }
  .topImage:last-child {
    margin-right: 0; }

.topPhoto {
  background-image: url("../images/top-image.png");
  float: left;
  display: block;
  margin-right: 2.35765%;
  width: 100%;
  background-size: cover;
  position: relative;
  height: 350px;
  background-position: center top; }
  .topPhoto:last-child {
    margin-right: 0; }

.grid {
  background-image: url("../images/grid.png");
  background-size: cover;
  float: left;
  display: block;
  margin-right: 2.35765%;
  width: 100%;
  height: 350px;
  opacity: .8; }
  .grid:last-child {
    margin-right: 0; }

.logo {
  position: absolute;
  left: 80px;
  top: 60px; }

.threeButts {
  float: left;
  display: block;
  margin-right: 2.35765%;
  width: 14.70196%;
  margin-left: 46.91392%; }
  .threeButts:last-child {
    margin-right: 0; }
  .threeButts button {
    border-radius: 50%;
    height: 15px;
    width: 15px;
    background: white;
    border-style: none; }
  .threeButts button:focus {
    outline: none; }

.articles {
  float: left;
  display: block;
  margin-right: 2.35765%;
  width: 100%; }
  .articles:last-child {
    margin-right: 0; }
  .articles article {
    background: white;
    height: 350px;
    padding: 5px 25px 5px 25px;
    float: left;
    display: block;
    margin-right: 2.35765%;
    width: 31.76157%;
    font-family: 'Open Sans', sans-serif;
    position: relative;
    margin-top: 20px;
    background-clip: padding-box;
    border-bottom: 5px solid rgba(192, 192, 192, 0.5); }
    .articles article:last-child {
      margin-right: 0; }
    .articles article:nth-child(3n) {
      margin-right: 0; }
    .articles article:nth-child(3n+1) {
      clear: left; }
    .articles article h3 {
      font-size: 1.15em; }
    .articles article h4 {
      color: #BCBCBC;
      font-size: .8em;
      font-weight: lighter; }
    .articles article p {
      color: #575757;
      font-size: 1em; }
    .articles article .more {
      color: #B4252B;
      text-decoration: none;
      font-weight: bolder;
      text-align: center;
      display: inline-block;
      position: absolute;
      bottom: 5%;
      left: 32%; }

.featuredPeople {
  float: left;
  display: block;
  margin-right: 2.35765%;
  width: 100%;
  height: 495px;
  margin-top: 40px;
  text-align: center;
  color: white;
  font-weight: bolder;
  font-size: 3em;
  font-family: 'Hind', sans-serif; }
  .featuredPeople:last-child {
    margin-right: 0; }
  .featuredPeople .other {
    float: left;
    display: block;
    margin-right: 2.35765%;
    width: 65.88078%;
    margin: 0; }
    .featuredPeople .other:last-child {
      margin-right: 0; }
  .featuredPeople .tomWrap {
    float: left;
    display: block;
    margin-right: 2.35765%;
    width: 31.76157%;
    margin-right: 0; }
    .featuredPeople .tomWrap:last-child {
      margin-right: 0; }
  .featuredPeople .tom {
    background-image: url("../images/sk8er-2.png");
    height: 495px;
    margin-left: 24px;
    float: left;
    display: block;
    margin-right: 7.42297%;
    width: 100%;
    border: 4px white solid;
    padding-top: 160px;
    background-position: 80% 50%; }
    .featuredPeople .tom:last-child {
      margin-right: 0; }
  .featuredPeople .lance {
    background-image: url("../images/sk8er-4.png");
    float: left;
    display: block;
    margin-right: 3.57866%;
    width: 48.21067%;
    height: 235px;
    border: 4px white solid;
    padding-top: 50px;
    background-position: 100% 50%; }
    .featuredPeople .lance:last-child {
      margin-right: 0; }
  .featuredPeople .rod {
    background-image: url("../images/sk8er-3.png");
    float: left;
    display: block;
    margin-right: 3.57866%;
    width: 48.21067%;
    margin-right: 0;
    height: 235px;
    border: 4px white solid;
    padding-top: 50px; }
    .featuredPeople .rod:last-child {
      margin-right: 0; }
  .featuredPeople .steve {
    background-image: url("../images/sk8er-1.png");
    height: 235px;
    margin-top: 24px;
    float: left;
    display: block;
    margin-right: 3.57866%;
    width: 100%;
    margin-right: 0;
    border: 4px white solid;
    padding-top: 80px;
    background-position: 60%; }
    .featuredPeople .steve:last-child {
      margin-right: 0; }

.boards {
  float: left;
  display: block;
  margin-right: 2.35765%;
  width: 100%;
  background-color: white;
  background-clip: padding-box;
  border-bottom: 5px solid rgba(192, 192, 192, 0.5);
  margin-top: 25px; }
  .boards:last-child {
    margin-right: 0; }
  .boards img {
    margin-right: 35px;
    margin-top: 10px;
    margin-bottom: 10px; }
  .boards img:nth-child(10) {
    margin: 0; }
  .boards img:nth-child(1) {
    margin-left: 20px; }

footer {
  float: left;
  display: block;
  margin-right: 2.35765%;
  width: 100%;
  background-color: white;
  margin-top: 35px;
  margin-bottom: 35px;
  padding: 30px 30px 35px 35px;
  background-clip: padding-box;
  border-bottom: 5px solid rgba(192, 192, 192, 0.5); }
  footer:last-child {
    margin-right: 0; }
  footer h5 {
    text-align: left;
    font-size: 1.5em;
    margin: 0; }
  footer .contactUs {
    float: left;
    display: block;
    margin-right: 2.84259%;
    width: 48.57871%; }
    footer .contactUs:last-child {
      margin-right: 0; }
    footer .contactUs .face, footer .contactUs .RSS, footer .contactUs .twitter, footer .contactUs .youtube {
      float: left;
      display: block;
      margin-right: 2.35765%;
      width: 6.17215%;
      height: 30px;
      background-color: gray;
      font-size: 1em;
      padding-left: 3px;
      border: none; }
      footer .contactUs .face:last-child, footer .contactUs .RSS:last-child, footer .contactUs .twitter:last-child, footer .contactUs .youtube:last-child {
        margin-right: 0; }

.commentBox {
  float: left;
  display: block;
  margin-right: 2.84259%;
  width: 48.57871%; }
  .commentBox:last-child {
    margin-right: 0; }
  .commentBox input {
    height: 45px;
    float: left;
    display: block;
    margin-right: 5.85151%;
    width: 100%;
    border-top: 4px gray solid;
    border-left: 4px gray solid;
    border-bottom: 1px gray solid;
    border-right: 1px gray solid;
    margin-bottom: 20px;
    font-size: 1em;
    padding-left: 10px; }
    .commentBox input:last-child {
      margin-right: 0; }
  .commentBox textarea {
    height: 110px;
    float: left;
    display: block;
    margin-right: 5.85151%;
    width: 100%;
    border-top: 4px gray solid;
    border-left: 4px gray solid;
    border-bottom: 1px gray solid;
    border-right: 1px gray solid;
    font-size: 1em;
    padding-left: 10px;
    padding-top: 10px; }
    .commentBox textarea:last-child {
      margin-right: 0; }
  .commentBox button {
    float: left;
    display: block;
    margin-right: 5.85151%;
    width: 57.6594%;
    margin-left: 42.3406%;
    font-size: 1em;
    border: none;
    background-color: #B4292E;
    height: 46px;
    text-align: center;
    color: white;
    padding-top: 5px;
    font-family: 'Lato', sans-serif;
    margin-top: 25px; }
    .commentBox button:last-child {
      margin-right: 0; }

button:focus {
  outline: none; }

@media (max-width: 868px) {
  .articles article {
    float: left;
    display: block;
    margin-right: 2.35765%;
    width: 100%;
    height: auto; }
    .articles article:last-child {
      margin-right: 0; } }

/*# sourceMappingURL=style.css.map */
